<!doctype html>
<html>
<head>

	{% include 'page-head.html' %}

	<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="container">

		{% include 'header.html' %}

		<div class="jumbotron">
			<h1 style="font-family: 'Russo One', sans-serif;"><span class="glyphicon glyphicon-signal"></span> OpenDASH</h1>
			<p class="lead" style="font-family: sans-serif;">Dashboard y Business Intelligence (BI) utilizando Open Data</p>

			</br>
			</br>

			<div class="row">
				<div class="col-md-4">
					<span class="glyphicon glyphicon-globe" style="font-size: 1350%"></span>
				</div>

				<div class="col-md-4">
					<span class="glyphicon glyphicon-chevron-right" style="font-size: 1200%"></span>
				</div>

				<div class="col-md-4">
					<img src="{{ url_for('static', filename='img/favicon.png') }}" class="img-rounded center-block" style="-webkit-filter: grayscale(1);">
				</div>
			</div>
		</div>

		{% include 'footer.html' %}	

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>	
</body>
</html>