<!doctype html>
<html>
<head>

	{% include 'page-head.html' %}

	<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="container">

		{% include 'header.html' %}

		<div class="jumbotron">
			<h1 style="font-family: 'Russo One', sans-serif;"><span class="glyphicon glyphicon-signal"></span> OpenDASH</h1>
			<p class="lead" style="font-family: sans-serif;">Dashboard y Business Intelligence (BI) utilizando Opendata</p>
		</div>

		{% include 'footer.html' %}	

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>	
</body>
</html>