<!doctype html>
<html>
<head>
	<title>OpenDash</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

	<div class="container">

		{% include 'header.html' %}

		<div class="jumbotron">
			<div id="version-selector"></div>
			<div class="row">
				<div class="col-md-9">
					<div id="chart-div" style="height: 500px;"></div>
				</div>

				<div class="col-md-3">
					<form id="source-form" role="form">
					  <div class="form-group">
					    <label for="Dataset">Dataset</label>
					    <select id="dataset-list" class="form-control">
						  
						</select>
					  </div>
					  <div class="form-group">
					    <label for="Dataset">Graph</label>
					    <select id ="graph-list" class="form-control">
						
						</select>
					  </div>
					  <button type="submit" class="btn btn-default">Submit</button>
					</form>

					<div id="chart-configuration"></div>
				</div>
			</div>
		</div>

		{% include 'footer.html' %}	
		
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	

	<script>
		google.load("visualization", "1", {packages:["corechart"]});

		function updateGraphList(endpointURL) {
			$.post("endpoints/get_graphs", { endpoint: endpointURL }, function(data) {
				$("#graph-list").empty();

				for (var index = 0; index < data.graphs.length; index++) {
					var graph = data.graphs[index];
					$("#graph-list").append(new Option(graph.name, graph.id));
				}
			});
		};

		function processClass(desc, descID, id) {
			var classObj = desc.classes[descID];
			$("#xvalues-list-" + id).empty();
			$("#yvalues-list-" + id).empty();
			for (var index = 0; index < classObj.properties.length; index++) {
				var property = classObj.properties[index];
			
				if ($.inArray(property.datatype, getXValidDataTypes()) != -1)	
					$("#xvalues-list-" + id).append(new Option(property.uri, descID + ":" + index));	

				if ($.inArray(property.datatype, getYValidDataTypes()) != -1)	
					$("#yvalues-list-" + id).append(new Option(property.uri, descID + ":" + index));
			}
		}

		function getConfID(event) {
			var source = event.target || event.srcElement;
			var res = source.id.split("-");
			return res[res.length - 1];
		};

		function getTitles() {
			var titles = []
			titles.push("X axis");

			var index = 0;
			for (var key in chart) {
				titles.push("Title " + index);
				index++;
			}

			return titles;
		};

		function updateChart(desc, conf) {
			$.post("endpoints/get_data", 
				{ endpoint: desc.endpoint, graph: desc.graph, configuration: JSON.stringify(conf) }, 
				function(data) {
					conf.data = data.data;

					drawChart();
			});
		};

		function drawChart() {
			var arrayData = []

			titles = getTitles();
			arrayData.push(titles);

			for (var rowIndex = 0; rowIndex < chart[0].data.length; rowIndex++) {
				var row = [];
				var xvalue = parseInt(chart[0].data[rowIndex]['x']);
				row.push(xvalue);

				for (var key in chart) {
					var yvalue = parseInt(chart[key].data[rowIndex]['y']);
					row.push(yvalue);
				}

				arrayData.push(row);
			}

			var data = google.visualization.arrayToDataTable(arrayData);

			var options = {
				title: 'Some title'
			};

			var lineChart = new google.visualization.LineChart(document.getElementById('chart-div'));
			lineChart.draw(data, options);
		}

		function addConfiguration(desc, id) {
			var snippet = 	'<div id="configuration-' + id + '">' + 
								'<button id="remove-conf-button-' + id + '"type="button" class="btn btn-danger">X</button>' +
								'<label>Class:</label>' + 
                        		'<select id="class-list-' + id + '" class="form-control">' +
					  
								'</select>' +

								'<label>X:</label>' +
                        		'<select id="xvalues-list-' + id + '" class="form-control">' +
					  
								'</select>' +

								'<label>Y:</label>' +
                        		'<select id="yvalues-list-' + id + '" class="form-control">' +
					  
								'</select>' +
							'</div>';

			$('#chart-configuration').append(snippet);

			$("#class-list-" + id).empty();
			for (var index = 0; index < desc.classes.length; index++) {
				$("#class-list-" + id).append(new Option(desc.classes[index].classURI, index));	
			}

			$("#class-list-" + id).change(function(event) {
				var confID = getConfID(event);

				chart[confID].classURI = desc.classes[$(this).val()].classURI;
				chart[confID].xvalue = desc.classes[$(this).val()].properties[0].uri;
				chart[confID].yvalue = desc.classes[$(this).val()].properties[0].uri;
				processClass(desc, $(this).val(), id)

				updateChart(desc, chart[confID]);
			});

			$("#xvalues-list-" + id).change(function(event) {
				var confID = getConfID(event);
				var res = $(this).val().split(":");

				chart[confID].xvalue = desc.classes[res[0]].properties[res[1]].uri;

				updateChart(desc, chart[confID]);
			});

			$("#yvalues-list-" + id).change(function(event) {
				var confID = getConfID(event);
				var res = $(this).val().split(":");

				chart[confID].yvalue = desc.classes[res[0]].properties[res[1]].uri;

				updateChart(desc, chart[confID]);
			});

			$("#remove-conf-button-" + id).click(function(event) {
				$('#configuration-' + id).remove();

				var confID = getConfID(event);
				delete chart[confID];

				if (Object.keys(chart).length > 0)
					drawChart();
				else
					$("#chart-div").empty();
			});

			processClass(desc, 0, id);

			var conf = {}
			conf.classURI = desc.classes[0].classURI;
			conf.xvalue = desc.classes[0].properties[0].uri;
			conf.yvalue = desc.classes[0].properties[0].uri;

			return conf;
		};

		var chart = {}
		var id = 0;

		function getValidDataTypes() {
			return $.merge(getXValidDataTypes(), getYValidDataTypes());

		};

		function getXValidDataTypes() {
			return 	[	'http://www.w3.org/2001/XMLSchema#integer',
						'http://www.w3.org/2001/XMLSchema#decimal',
						'http://www.w3.org/2001/XMLSchema#float',
						'http://www.w3.org/2001/XMLSchema#string'
					];			
		};

		function getYValidDataTypes() {
			return 	[	'http://www.w3.org/2001/XMLSchema#integer',
						'http://www.w3.org/2001/XMLSchema#decimal',
						'http://www.w3.org/2001/XMLSchema#float',
					];			
		};

		function removeIncompatibleTypes(desc) {
			compatibleDesc = []

			classes = []
			for (var clazzIndex = 0; clazzIndex < desc.classes.length; clazzIndex++) {
				properties = []

				clazz = desc.classes[clazzIndex];
				for (var propertyIndex = 0; propertyIndex < clazz.properties.length; propertyIndex++) {
					property = clazz.properties[propertyIndex];
					if ($.inArray(property.datatype, getValidDataTypes()) != -1)
						properties.push(property);
				}
				if (properties.length > 0)
					classes.push({classURI : clazz.classURI, properties: properties})
			}

			compatibleDesc.endpoint = desc.endpoint;
			compatibleDesc.graph = desc.graph;
			compatibleDesc.classes = classes;

			return compatibleDesc;
		};

		function processSource() {
			var endpointURL = $("#dataset-list :selected").text();
			var graphName = $("#graph-list :selected").text();

			$.post("endpoints/get_description", { endpoint: endpointURL, graph: graphName }, function(data) {
				desc = data.desc;

				desc = removeIncompatibleTypes(desc);

				$("#chart-configuration").append('<button id="add-button" type="button" class="btn btn-primary">+</button>');
				$("#add-button").click(function(event) {
					var conf = addConfiguration(desc, id++);				
					chart[id - 1] = conf;

					updateChart(desc, conf);
				});
			});
		};

		function init() {
			$.getJSON("endpoints", function(data) {
		 		$("#dataset-list").empty();

				for (var index = 0; index < data.endpoints.length; index++) {
					var endpoint = data.endpoints[index];
					$("#dataset-list").append(new Option(endpoint.url, endpoint.id));
				}

				updateGraphList($('#dataset-list :selected').text())
			});

			$("#dataset-list").change(function() {
				updateGraphList($('#dataset-list :selected').text());					
			});

			$("#source-form").submit(function(event) {
				processSource();

  				event.preventDefault();
			});
		};

		window.onload = init();
	</script>
</body>
</html>