<!doctype html>
<html>
<head>
	<title>OpenDash</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>
<body>

	<div class="container">

		{% include 'header.html' %}

		<div class="well">
			<div class="row">
				<div class="col-md-7">
					<div id="chart-div" style="height: 500px;" class="well"></div>
				</div>

				<div class="col-md-5">
					<div class="well">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">Dataset</label>
								<div class="col-sm-10">
									<select id="dataset-list" class="form-control"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Password</label>
								<div class="col-sm-10">
									<select id ="graph-list" class="form-control"></select>
								</div>
							</div>
							<button id="select-source-button" type="button" class="btn btn-success">Select source</button>
						</form>
					</div>
					<div id="main-configuration"></div>
				</div>
			</div>
		</div>

		{% include 'footer.html' %}	
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	

	<script>
		google.load("visualization", "1", {packages:["corechart"]});

		function updateGraphList(endpointURL) {
			$.post("endpoints/get_graphs", { endpoint: endpointURL }, function(data) {
				$("#graph-list").empty();

				for (var index = 0; index < data.graphs.length; index++) {
					var graph = data.graphs[index];
					$("#graph-list").append(new Option(graph.name, graph.id));
				}
			});
		};

		function getLineID(event) {
			var source = event.target || event.srcElement;
			var res = source.id.split("-");
			return res[res.length - 1];
		};

		function getTitles() {
			var titles = []
			titles.push("X axis");

			var index = 0;
			for (var key in chart.lines) {
				titles.push("Title " + index);
				index++;
			}

			return titles;
		};

		function updateChartLine(desc, chart, lineID) {
			$.post("endpoints/get_data", 
				{ 	endpoint: desc.endpoint, 
					graph: desc.graph,
					mainclass: chart.mainclass,
					xvalues: chart.xvalues,
					yvalues: chart.lines[lineID].yvalues
				}, 
				function(data) {
					chart.lines[lineID].data = data.data;

					drawChart();
			});
		};

		function drawChart() {
			var arrayData = []

			titles = getTitles();
			arrayData.push(titles);

			for (var rowIndex = 0; rowIndex < chart.lines[0].data.length; rowIndex++) {
				var row = [];
				var xvalue = parseInt(chart.lines[0].data[rowIndex]['x']);
				row.push(xvalue);

				for (var key in chart.lines) {
					var yvalue = parseInt(chart.lines[key].data[rowIndex]['y']);
					row.push(yvalue);
				}

				arrayData.push(row);
			}

			var data = google.visualization.arrayToDataTable(arrayData);

			var options = {
				title: 'Some title'
			};

			var lineChart = new google.visualization.LineChart(document.getElementById('chart-div'));
			lineChart.draw(data, options);
		};

		function addLine(desc, id) {
			var snippet = 	'<div id="configuration-' + id + '">' + 
								'<form class="form-horizontal" role="form">' +
									'<div class="form-group">' +
										'<label class="col-sm-2 control-label">Y</label>' +
										'<div class="col-sm-8">' +
											'<select id="yvalues-list-' + id + '" class="form-control"></select>' +
										'</div>' + 
										'<div class="col-sm-2">' +
											'<button id="remove-conf-button-' + id + '"type="button" class="btn btn-danger">X</button>' +
										'</div>' +
									'</div>' +
								'</form>' +
							'</div>';

			$('#lines-configuration').append(snippet);

			var classID = $("#main-class-list :selected").val();

			for (var index = 0; index < desc.classes[classID].properties.length; index++) {
				var property = desc.classes[classID].properties[index];

				if ($.inArray(property.datatype, getYValidDataTypes()) != -1)	
					$("#yvalues-list-" + id).append(new Option(property.uri, classID + ":" + index));
			}

			$("#remove-conf-button-" + id).click(function(event) {
				$('#configuration-' + id).remove();

				var lineID = getLineID(event);
				delete chart.lines[lineID];

				if (Object.keys(chart.lines).length > 0)
					drawChart();
				else
					$("#chart-div").empty();
			});

			$("#yvalues-list-" + id).change(function(event) {
				var lineID = getLineID(event);
				var res = $(this).val().split(":");

				chart.lines[lineID].yvalues = desc.classes[res[0]].properties[res[1]].uri;
				updateChartLine(desc, chart, lineID);
			});

			var line = {}
			line.yvalues = desc.classes[classID].properties[0].uri;

			return line;
		};

		var chart = {}
		chart.lines = {}

		var id = 0;

		function getValidDataTypes() {
			return $.merge(getXValidDataTypes(), getYValidDataTypes());

		};

		function getXValidDataTypes() {
			return 	[	'http://www.w3.org/2001/XMLSchema#integer',
						'http://www.w3.org/2001/XMLSchema#decimal',
						'http://www.w3.org/2001/XMLSchema#float',
						'http://www.w3.org/2001/XMLSchema#string'
					];			
		};

		function getYValidDataTypes() {
			return 	[	'http://www.w3.org/2001/XMLSchema#integer',
						'http://www.w3.org/2001/XMLSchema#decimal',
						'http://www.w3.org/2001/XMLSchema#float',
					];			
		};

		function removeIncompatibleTypes(desc) {
			compatibleDesc = []

			classes = []
			for (var clazzIndex = 0; clazzIndex < desc.classes.length; clazzIndex++) {
				properties = []

				clazz = desc.classes[clazzIndex];
				for (var propertyIndex = 0; propertyIndex < clazz.properties.length; propertyIndex++) {
					property = clazz.properties[propertyIndex];
					if ($.inArray(property.datatype, getValidDataTypes()) != -1)
						properties.push(property);
				}
				if (properties.length > 0)
					classes.push({classURI : clazz.classURI, properties: properties})
			}

			compatibleDesc.endpoint = desc.endpoint;
			compatibleDesc.graph = desc.graph;
			compatibleDesc.classes = classes;

			return compatibleDesc;
		};

		function updateMainClass(desc, descID) {
			$("#main-xvalues-list").empty();
			for (var index = 0; index < desc.classes[descID].properties.length; index++) {
				var property = desc.classes[descID].properties[index];
				if ($.inArray(property.datatype, getXValidDataTypes()) != -1)	
					$("#main-xvalues-list").append(new Option(property.uri, descID + ":" + index));
			}

			chart.mainclass = desc.classes[descID].classURI;
			chart.xvalues = desc.classes[descID].properties[0].uri;
		};

		function processSource() {
			var endpointURL = $("#dataset-list :selected").text();
			var graphName = $("#graph-list :selected").text();

			$.post("endpoints/get_description", { endpoint: endpointURL, graph: graphName }, function(data) {
				desc = data.desc;

				desc = removeIncompatibleTypes(desc);

				var snippet = 	'<div class="well">' +
									'<form class="form-horizontal" role="form">' +
										'<div class="form-group">' +
											'<label class="col-sm-2 control-label">Main Class</label>' + 
											'<div class="col-sm-10">' +
												'<select id="main-class-list" class="form-control"></select>' + 
											'</div>' + 
										'</div>' +
										'<div class="form-group">' +
											'<label class="col-sm-2 control-label">X</label>' + 
											'<div class="col-sm-10">' +
												'<select id="main-xvalues-list" class="form-control"></select>' +
											'</div>' +
										'</div>' +
										'<button id="add-button" type="button" class="btn btn-primary">Add line</button>' +
									'</form> </br>' +
									'<div class="panel panel-default">' +
										'<div class="panel-heading">' +
    										'<h3 class="panel-title">Lines</h3>' +
  										'</div>' +
										'<div id="lines-configuration" class="panel-body"></div>' +
									'</div>' +
								'</div>';

				$('#main-configuration').append(snippet);

				$("#main-class-list").empty();
				for (var index = 0; index < desc.classes.length; index++)
					$("#main-class-list").append(new Option(desc.classes[index].classURI, index));	

				$("#main-class-list").change(function() {
					var index = $(this).val();

					updateMainClass(desc, index);					
				});

				$("#main-xvalues-list").change(function() {
					chart.xvalues = $('#main-xvalues-list :selected').text()
				});

				updateMainClass(desc, 0)

				$("#add-button").click(function(event) {
					$("#main-class-list").prop("disabled", true);
					$("#main-xvalues-list").prop("disabled", true);

					chart.lines[id] = addLine(desc, id++);;
					updateChartLine(desc, chart, id - 1);
				});
			});
		};

		function init() {
			$.getJSON("endpoints", function(data) {
				$("#dataset-list").empty();

				for (var index = 0; index < data.endpoints.length; index++) {
					var endpoint = data.endpoints[index];
					$("#dataset-list").append(new Option(endpoint.url, endpoint.id));
				}

				updateGraphList($('#dataset-list :selected').text())
			});

			$("#dataset-list").change(function() {
				updateGraphList($('#dataset-list :selected').text());					
			});

			$("#select-source-button").click(function(event) {
				processSource();

				$("#dataset-list").prop("disabled", true);
				$("#graph-list").prop("disabled", true);
				$(this).prop("disabled", true);
			});
		};

		window.onload = init();
	</script>
</body>
</html>