<!doctype html>
<html>
<head>

	{% include 'page-head.html' %}
	
</head>
<body>

	<div class="container">

		{% include 'header.html' %}

		<div class="well">
			<div class="row">
				<div class="col-md-7">
					<div id="chart-div" style="height: 500px;" class="well"></div>

					<div class="row">
						<div class="col-lg-6">
							<div class="input-group">
								<span class="input-group-addon">Chart name</span>
								<input id="chart-name-input" type="text" class="form-control" value="{{chart.name}}" maxlength="25">
							</div>
						</div>
						<div class="col-lg-6">
							<a href="javascript:void(0);" onclick="saveChart('{{report.id}}', {{chart.id}});" class="btn btn-primary pull-right" role="button">Save</a>
						</div>
					</div>
				</div>

				<div class="col-md-5">
					<div id="main-configuration"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>	
	<script src="{{ url_for('static', filename='js/lineChart.js') }}"></script>
	<script src="{{ url_for('static', filename='js/datasource.js') }}"></script>
	<script src="{{ url_for('static', filename='js/edit.js') }}"></script>

	<script>
		google.load("visualization", "1", { packages:["corechart"] });

		window.onload = init();
	</script>
</body>
</html>