<div class="footer">

	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<a href="http://www.codesyntax.com"><img src="{{url_for('static', filename='img/logos/codesyntax.gif')}}" width="80%"></a>
		</div>
		<div class="col-md-3">
			<a href="http://www.zylk.net"><img src="{{url_for('static', filename='img/logos/zylk.png')}}" width="60%"></a>
		</div>
		<div class="col-md-3">
			<a href="http://www.prospektiker.es"><img src="{{url_for('static', filename='img/logos/prospektiker.jpg')}}" width="60%"></a>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<a href="http://www.fidenet.net"><img src="{{url_for('static', filename='img/logos/fidenet.jpg')}}" width="40%"></a>
		</div>
		<div class="col-md-3">
			<a href="http://www.deustotech.deusto.es/"><img src="{{url_for('static', filename='img/logos/deustotech.jpg')}}" width="90%"></a>
		</div>
		<div class="col-md-3">
			<b> Financed by </b>
			<img src="{{url_for('static', filename='img/logos/eusko_jaurlaritza.bmp')}}" width="80%" height="80%">
		</div>
	</div>
</div>