<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <span class="navbar-brand"><span class="glyphicon glyphicon-signal"></span> OpenDASH</span>
	</div>
	<div class="navbar-collapse collapse">
		{% if user and user.is_authenticated() %}
		<form class="navbar-form navbar-right" role="form" action="{{ url_for('logout') }}" method="post">
			{{ form.csrf_token }}
			<div class="form-group">
				<a href="/user/{{ user.user }}" style="color:gray; margin-right: 4px; font-size:150%">{{ user.user }}</a>
			</div>
			<button type="submit" class="btn btn-primary">Sign out</button></h3>
  		</form>
		{% else %}
	  	<form class="navbar-form navbar-right" role="form" action="{{ url_for('login') }}" method="post">
			{{ form.csrf_token }}
			<div class="form-group">
				{{ form.user(size=20, class='form-control', placeholder='User') }}
			</div>
			<div class="form-group">
				{{ form.password(size=20, class='form-control', placeholder='Password') }}
			</div>
			<button type="submit" class="btn btn-primary">Sign in</button>
			{% if invalid_login %}
  				<div class="alert alert-danger">Invalid user or password</div>
  			{% endif %}
  		</form>
		{% endif %}
	</div>
  </div>
</form>
</div>