<!doctype html>
<html>
<head>
	<title>OpenDash</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>
<body>

	<div class="container">

		{% include 'header.html' %}

		<div class="well">
  			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Reports <a href="#" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-plus"></span></a></h4> 
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Cras justo odio</li>
						<li class="list-group-item">Dapibus ac facilisis in</li>
						<li class="list-group-item">Morbi leo risus</li>
						<li class="list-group-item">Porta ac consectetur ac</li>
						<li class="list-group-item">Vestibulum at eros</li>
					</ul>
				</div>
			</div>
		</div>

		{% include 'footer.html' %}	
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	
	<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
</body>
</html>