<!doctype html>
<html>
<head>

	{% include 'page-head.html' %}

</head>
<body>

	<div class="container">

		{% include 'header.html' %}

		<div class="well">
  			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Reports <a href="/report/new_report" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-plus"></span></a></h4> 
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Access URL</th>
								<th>Charts</th>
								<th>Created</th>
								<th>Modified</th>
								<th>Edit</th>
								<th>Public</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
						{% for r in reports %}
						<tr>
							<td><span id="report-name-label">{{ r.name }}</span></td>
							<td><a href="/report/{{r.id}}">{{r.id}}</a></td>
							<td><a href="/report/{{r.id}}" class="label label-default">{{r.charts | length }}</a></td>
							<td><span id="report-name-label">{{ r.created.strftime("%d/%m/%y %H:%M:%S") }}</span></td>
							<td><span id="report-name-label">{{ r.modified.strftime("%d/%m/%y %H:%M:%S") }}</span></td>
							<td><a href="/report/{{r.id}}/edit"><span class="glyphicon glyphicon-edit"></span></a></td>
							<td>
								{% if r.public %} 
								<a href="/report/{{r.id}}/make_private"><span class="glyphicon glyphicon-eye-open"></span></a>
								{% else %}
								<a href="/report/{{r.id}}/make_public"><span class="glyphicon glyphicon-eye-close"></span></a>
								{% endif %}
							</td>
							<td><a href="/report/{{r.id}}/remove" class="btn btn-danger btn-xs" role="button">X</span></a></td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	
	<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
</body>
</html>