<!doctype html>
<html>
<head>
	<title>OpenDash</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>
<body>

	<div class="container">

		{% include 'header.html' %}

		<div class="well">
  			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Reports <a href="/report/new_report" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-plus"></span></a></h4> 
				</div>
				<div class="panel-body">
					<ul class="list-group">
						{% for r in reports %}
						<li class="list-group-item">
							<span id="report-name-label"class="label label-default">{{ r.name }}</span>
							<span class="label label-primary">{{ r.id }}</span>
							<a href="/report/{{r.id}}/edit"><span class="glyphicon glyphicon-edit"></span></a>
							{% if r.public %} 
							<a href="/report/{{r.id}}/make_private"><span class="glyphicon glyphicon-eye-open"></span></a>
							{% else %}
							<a href="/report/{{r.id}}/make_public"><span class="glyphicon glyphicon-eye-close"></span></a>
							{% endif %}
							<a href="/report/{{r.id}}/remove" class="btn btn-danger btn-xs" role="button">X</span></a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		{% include 'footer.html' %}	
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	
	<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
</body>
</html>