<!doctype html>
<html>
<head>

	{% include 'page-head.html' %}

</head>
<body>

	<div class="container">

		{% include 'header.html' %}

		<div class="well">

			<div class="row">
				<div class="col-lg-4">
					<div class="input-group">
						<span class="input-group-addon">Report name</span>
						<input id="report-name-input" type="text" class="form-control" value="{{report.name}}" maxlength="30" {% if not edit %} disabled {% endif %}>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="input-group">
						<span class="input-group-addon">Created</span>
						<input id="report-name-input" type="text" class="form-control" value="{{ report.created.strftime("%d/%m/%y %H:%M:%S") }}" disabled>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="input-group">
						<span class="input-group-addon">Modified</span>
						<input id="report-name-input" type="text" class="form-control" value="{{ report.modified.strftime("%d/%m/%y %H:%M:%S") }}" disabled>
					</div>
				</div>
			</div>

			</br>

		  	{% for chart in report.charts %}

		  	<div id="chart-container-{{chart.id}}" class="panel panel-default">
				<div class="panel-heading">
					Chart {{chart.id}}
					{% if edit %}
						<div class="pull-right">
		  					<a href="javascript:void(0);" onclick="deleteChart('{{report.id}}', {{chart.id}});" class="btn btn-danger btn-xs" role="button">X</a>
		  				</div>
		  			{% endif %}
				</div>
				<div class="panel-body">
		  			<div id="chart-{{chart.id}}" style="height: 500px;"></div>
				</div>
			</div>

			{% endfor %}

			{% if edit %}
			<div class="well" style="height: 500px;">
				<a href="/report/{{report.id}}/chart/new"><span class="glyphicon glyphicon-plus" style="font-size: 500%"></span></a>
			</div>
			{% endif %}
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>	
	<script src="{{ url_for('static', filename='js/linechart.js') }}"></script>
	<script src="{{ url_for('static', filename='js/report_edit.js') }}"></script>

	<script>
		var charts = {};

		{% for c in report.charts %}

		charts[{{c.id}}] = eval({{ c.json | safe }});

		{% endfor %}

		drawCharts(charts);

		$("#report-name-input").keypress(function(event) {
			if (event.which == 13)
				updateReport('{{report.id}}');
		});

		$("#report-name-input").focusout(function(event) {
			updateReport('{{report.id}}');
		});
	</script>
</body>
</html>