<!doctype html>
<html>
<head>
	<title>OpenDash</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

</head>
<body>

	<div class="container">

		{% include 'header.html' %}

		<div class="well">
		  	<h3>{{ report.name }} <span id="chart-counter-label" class="label label-default">{{ report.charts | length }}</span></h3>

		  	{% for chart in report.charts %}

		  	<div id="chart-container-{{chart.id}}">
		  		{% if edit %}
		  		<a href="javascript:void(0);" onclick="deleteChart('{{report.id}}', {{chart.id}});" class="btn btn-danger btn-xs" role="button">X</a>
		  		{% endif %}
		  		<div id="chart-{{chart.id}}" class="well" style="height: 500px;"></div>
		  	</div>

			{% endfor %}

			<div class="well" style="height: 500px;">
				{% if edit %}
				<a href="/report/{{report.id}}/chart/new"><span class="glyphicon glyphicon-plus" style="font-size: 500%"></span></a>
				{% endif %}
			</div>
		</div>

		{% include 'footer.html' %}	
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>	
	<script src="{{ url_for('static', filename='js/lineChart.js') }}"></script>
	<script src="{{ url_for('static', filename='js/report_edit.js') }}"></script>

	<script>
		var charts = {};

		{% for c in report.charts %}

		charts[{{c.id}}] = eval({{ c.json | safe }});

		{% endfor %}

		drawCharts(charts);
	</script>
</body>
</html>