<!doctype html>
<html>
<head>
	<title>OpenDash</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>
<body>

	<div class="container">

		{% include 'header.html' %}

		<div class="well">
  			<div class="row">
				<div class="col-md-6">
					<div class="well" style="height: 500px;"><span class="glyphicon glyphicon-plus" style="font-size: 500%"></span></div>
				</div>
				<div class="col-md-6">
					<div class="well" style="height: 500px;"><span class="glyphicon glyphicon-plus" style="font-size: 500%"></div>
				</div>
			</div>
		</div>

		{% include 'footer.html' %}	
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	
	<script src="{{ url_for('static', filename='js/report.js') }}"></script>
</body>
</html>